<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
						http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
						http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
						
	<bean id="applyService" class="service.impl.ApplyServiceImpl">
		<property name="ad" ref="applyDao"></property>
		<property name="pd" ref="productDao"></property>
	</bean>
	
	<bean id="companyService" class="service.impl.CompanyServiceImpl">
		<property name="ad" ref="applyDao"></property>
		<property name="cd" ref="companyDao"></property>
		<property name="pd" ref="productDao"></property>
	</bean>
	
	<bean id="lendingPeriodService" class="service.impl.LendingPeriodServiceImpl">
		<property name="lpd" ref="lendingPeriodDao"></property>
	</bean>
	
	<bean id="newsService" class="service.impl.NewsServiceImpl">
		<property name="nd" ref="newsDao"></property>
	</bean>
	
	<bean id="productService" class="service.impl.ProductServiceImpl">
		<property name="pd" ref="productDao"></property>
	</bean>
	
	<bean id="productTypeService" class="service.impl.ProductTypeServiceImpl">
		<property name="ptd" ref="productTypeDao"></property>
	</bean>
	
	<bean id="sysuserService" class="service.impl.SysuserServiceImpl">
		<property name="ad" ref="applyDao"></property>
		<property name="cd" ref="companyDao"></property>
		<property name="pd" ref="productDao"></property>
		<property name="sd" ref="sysuserDao"></property>
		<property name="ptd" ref="productTypeDao"></property>
		<property name="nd" ref="newsDao"></property>
	</bean>
	
	
	
	
</beans>